
body {
  margin: 0;
}


#mapid {
    height: 600px;
    width: 100%;
    display: inline-block;
}



.sequence-control-container {
    width: 250px;
    height: 16px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}

.leaflet-popup-content {
    text-align: center;
}

.leaflet-polygons-pane{
  z-index: 399;
}

.legend {
  font-size: 20px;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 0px;
  width: 200px;
  text-align: center;
  line-height: 5px;
  border: solid gray 1px;
  vertical-align: middle;

}
