
body {
  margin: 0;
}


#mapid {
    height: 600px;
    width: 100%;
    display: inline-block;
}



.sequence-control-container {
    width: 300px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: left;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}

.leaflet-popup-content {
    text-align: center;
}

.leaflet-polygons-pane{
  z-index: 399;
}
