
body {
  margin: 0;
}


#mapid {
    height: 600px;
    width: 100%;
    display: inline-block;
}



.sequence-control-container {
    width: 250px;
    height: 16px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}

.leaflet-popup-content {
    text-align: center;
}

.leaflet-polygons-pane{
  z-index: 399;
}

.legend {
  font-size: 20px;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 0px;
  width: 250px;
  text-align: center;
  line-height: 5px;
  border: solid gray 1px;
  vertical-align: middle;

}

.legendCircle {
  font-size: 20px;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 0px;
  width: 250px;
  text-align: center;
  /*line-height: 5px;*/
  border: solid gray 1px;
  vertical-align: middle;
  padding-bottom: 5px;
}

.legendPoly {
  font-size: 10px;
  background-color: rgba(255,255,255,0.8);

  text-align: center;
  /*line-height: 5px;*/
  border: solid gray 1px;
  vertical-align: middle;
  width: 270px;
  height: 70px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legendPoly i {
    width: 25px;
    height: 25px;
    border: solid gray 1px;
    margin-right: 6px;
    margin-top:0px;
    opacity: 0.7;
    display:inline-block;
}



#min-text {
  font-size: 12px;
}

#mean-text {
  font-size: 12px;
}

#max-text {
  font-size: 12px;
}

#label {
  margin-right: 6px;
  vertical-align: top;
  line-height:3;
}
